/vendor/
/htdocs/
/build.txt
/composer.lock
/.modman/aoe_scheduler/
/tools/apply.php
/tools/dryRun.php
/tools/extract.php
/tools/install.sh
/tools/modman
/tools/n98-magerun.phar
/tools/systemstorage_import.sh
/tools/value.php